pandas
jupyter
numpy
Markdown
matplotlib
pandas-profiling
pep8
scikit-learn
scipy
seaborn
tabulate
openpyxl
floweaver
ipysankeywidget
cufflinks
Cython
tqdm
typing_extensions
surprise
matplotlib_venn
colorama
torch
keras
tensorflow
seq2seq-lstm
jupytemplate
jupyterlab_templates
PrettyTable